.About{
    display: inline
}

h2{
    margin: 10% 0 0 0;
    text-shadow: 4px 3px 10px black;
}

h3{
    margin-bottom: 5%;
    text-shadow: 4px 3px 10px black;
}

a#UNLV{
    color: red;
}

a#UNLV:hover{
    color: rgb(255, 183, 195);
}

#Novibes{
    color: rgb(31, 247, 31);
    text-shadow: 4px 2px 10px #FFF9F7;
}

#VibeCoding{
    color: red;
}

#VibeCoding:hover{
    color: rgb(229, 134, 134);
    text-decoration: line-through rgb(255, 0, 0) 2px;
}