.About{
    display: inline-flex;
    flex-direction: column;
    max-width: 100%;
}

.Inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 2em; 
}

.Description{
   text-shadow: 4px 3px 10px black;
   display: inline;
}

.Inline h2 , h3{
    text-shadow: 4px 3px 10px black;
}

.About img{
    width: 10em;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

a#UNLV {
    color: red;
}

a#UNLV:hover {
    color: rgb(255, 183, 195);
}

#Novibes {
    color: rgb(31, 247, 31);
    text-shadow: 4px 2px 10px #FFF9F7;
}

#VibeCoding {
    color: red;
}

#VibeCoding:hover {
    color: rgb(229, 134, 134);
    text-decoration: line-through rgb(255, 0, 0) 2px;
}