.About {
    display: inline;
}

.Inline {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 3em; 
}

.About{
   text-shadow: 4px 3px 10px black; 
}

h2#My-Name{
    margin: 10% 0 0 0;
    text-shadow: 4px 3px 10px black;
}

h3#title{
    margin-bottom: 5%;
    text-shadow: 4px 3px 10px black;
}

.mambo {
    width: 10em;
    height: auto;
}

a#UNLV {
    color: red;
}

a#UNLV:hover {
    color: rgb(255, 183, 195);
}

#Novibes {
    color: rgb(31, 247, 31);
    text-shadow: 4px 2px 10px #FFF9F7;
}

#VibeCoding {
    color: red;
}

#VibeCoding:hover {
    color: rgb(229, 134, 134);
    text-decoration: line-through rgb(255, 0, 0) 2px;
}