.Form {
    background: #ebc0f0;
    background: linear-gradient(0deg,rgba(235, 192, 240, 0.75) 0%, #7d3da8bf 30%, rgba(16, 16, 20, 0.88) 80%);
    border: 5px solid rgba(111, 90, 168, 0.88);
    border-radius: 5px;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 4px #010101;
    padding: 1.5rem;
    max-width: 75%;
    margin-top: 10%;
    display: inline-block;
}

.Form h2 {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1.5rem;
    color: #e1e1e1;
}

.Form label {
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: #e1e1e1;
}

.Form input, .Form textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    background-color: rgba(10, 8, 8, 0.796);
    max-width: 100%;
}

.Form textarea {
    resize: vertical;
    min-height: 100px;
}

.Form input:focus, .Form textarea:focus {
    border-color: #ff0404;
    outline: none;
}

button[type="submit"] {
    background-color: #000;
    color: #e1e1e1;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #5b1173;
}

.Contact p {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
    color: #3ef13e;
    text-shadow: 1px 2px 2px rgb(0, 4, 0);
}

.Social{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
}

.Social img{
    width: 125px;
    height: auto;
    padding: 1em;
}

.Social img:hover{
    transition: transform 0.2s ease;
    transform: scale(1.15);
}