.Flex-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
}

.Form {
    background: #ebc0f0;
    background: linear-gradient(0deg,rgba(235, 192, 240, 0.75) 0%, #7d3da8bf 30%, rgba(16, 16, 20, 0.88) 80%);
    padding: 2rem;
    border: 5px solid rgba(111, 90, 168, 0.88);
    border-radius: 5px;
    box-shadow: 0px 10px 13px -7px #000000, 0px 0px 10px 4px #010101;
    max-width: 500px;
    width: 100%;
    margin-top: 10%;
}

h2#Contact {
    text-align: center;
    margin-top: auto;
    margin-bottom: 1.5rem;
    color: #e1e1e1;
}

.Contact {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Contact label {
    font-weight: 500;
    margin-bottom: 0.25rem;
    color: #e1e1e1;
}

.Contact input, .Contact textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    background-color: rgb(31, 31, 31);
    max-width: 75%;
    margin: 0 auto 0 auto;
}

.Contact input:focus, .Contact textarea:focus {
    border-color: #ff0404;
    outline: none;
}

.Contact textarea {
    resize: vertical;
    min-height: 100px;
}

button[type="submit"] {
    background-color: #000;
    color: #e1e1e1;
    padding: 0.75rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #5b1173;
}

p#Contact {
    margin-top: 1rem;
    text-align: center;
    font-weight: 500;
    color: #05ed05;
    text-shadow: 1px 2px 2px rgb(0, 4, 0);
}

.Social{
    max-width: 500px;
    margin: 10% 0 auto 0;
    display: flex;
    flex-direction: column;
}

.Social img{
    width: 125px;
    height: auto;
    padding: 1em;
}

.Social img:hover{
    transition: transform 0.2s ease;
    transform: scale(1.15);
}