.Personal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding:2rem;
    gap: 2rem;
}

.Section{
    max-width: 100%;
    padding: 1.5rem;
    background: #ebc0f0;
    background: linear-gradient(0deg,rgba(235, 192, 240, 0.75) 0%, #7d3da8bf 30%, rgba(16, 16, 20, 0.88) 80%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border: 3px solid #131213;
    border-radius: 10px;
    text-align: center;
}

.Section ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.Section li{
    padding: 0.5em;
}

.Section h3{
    margin-bottom: 1rem;
    color: #e6e0e0;
    text-shadow: 2px 2px 9px #2c0ad4;
}

.Watches{
    background-color: rgb(2, 18, 240);
}

.Watches a{
    color: #6fe7a9;
}

.Watches a:hover{
    transition: 0.3s ease;
    color: #d9f029;
}

.Games{
    background-color: #6fe7a9;
}

.Video-Game{
    color: rgb(97, 243, 119);
    text-shadow: 2px 2px 9px #ffd900;
}

.Board-Game{
    color: rgb(208, 236, 0);
    text-shadow: 2px 2px 9px #070600;
}

.Inline-Header{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.Websites{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 80%;
    margin-bottom: 1em;
}

.Website-Container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.Site-Link{
    display: flex;
    flex-direction: column;
}

.Websites a{
    color: #40e7ce;
    margin-bottom: 5%;
    text-decoration: solid underline rgb(214, 163, 33) 2px;
}

.Websites a:hover{
    transition: 0.3s ease;
    color: #e9e622;
}

.fade-in{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-out{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.Gallery{
    margin: auto;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    background-color: #fbf052;
    justify-content: center;
}

.Images-Container{
    display: flex;
    flex-wrap: wrap;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 6px;
    justify-content: space-evenly;
}

.Gallery img{
    width: 40%;
    height: auto;
    object-fit: contain;
    padding: 0.8em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Gallery img:hover{
    transform: scale(1.10);
    box-shadow: 0 8px 20px(rgba(0, 0, 0, 0.3));
    z-index: 2;
}