.Flex-Container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    padding: 2rem;
    gap: 2rem;
}

.Section{
    width: 80%;
    padding: 1.5rem;
    background: #ebc0f0;
    background: linear-gradient(0deg,rgba(235, 192, 240, 0.75) 0%, #7d3da8bf 30%, rgba(16, 16, 20, 0.88) 80%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border: 3px solid #131213;
    border-radius: 10px;
    text-align: center;
}

.Section ul{
    list-style: none;
}

.Section li{
    padding: 0.5em;
}

.Watches a{
    color: #6fe7a9;
}

.Watches a:hover{
    transition: 0.3s ease;
    color: #d9f029;
}

.Video-Game{
    color: rgb(97, 243, 119);
    text-shadow: 2px 2px 9px #ffd900;
}

.Board-Game{
    color: rgb(236, 121, 121);
    text-shadow: 2px 2px 9px #070600;
}

.Section h3{
    margin-bottom: 1rem;
    color: #e6e0e0;
    text-shadow: 2px 2px 9px #2c0ad4;
}

.Inline-Header{
    display: inline-flex;
    gap: 0.5em;
}

.fade-in{
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-out{
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.Gallery{
    margin: 0% auto;
}

.Gallery img{
    width: 300px;
    height: 300px;
    object-fit: contain;
    padding: 5px;
}